<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
    <head>
        <% include ../views/t_head.ejs %>
    </head>
    <body>
        <h1>
            Coppa Chiosco
        </h1>
        <hr/>
        <div class="beer">
            <div class="screen80percent">
                <%
                    var classifica = database[0].coppaChiosco

                    classifica.sort((a,b) =>  a.qty - b.qty )
                %>
                <div class="coppa-chiosco">
                    <% 
                        var index = 1
                        for(var i=classifica.length-1; i>=0; i--) {
                    %>
                        <div class="team pos-<%= index %>" id="<%= classifica[i].nome.replace(/ /g, '_') %>" pos="<%= index %>">
                            <div class="posizione">
                                <% if(index==1){%>
                                    <!--<img src="/images/coppa-chiosco-1.png"/>-->
                                <%}%>
                                <%= index %>°
                            </div>
                            <div class="nome">
                                <%= classifica[i].nome %>
                            </div>
                            <div class="qty">
                                <%=classifica[i].qty%>
                            </div>
                        </div>                                
                    <%
                        index++
                        }
                    %>
                </div>
            </div>
        </div>

        <style>

            .beer {
                background-image: url(/images/beer.gif);
                background-size: cover;
                height: 100vh;
                padding: 20px 0;
            }
            h1 {
                margin: 20px;
            }

            hr {
                margin: 0;
            }

            .coppa-chiosco {
                position: relative;
                height: 1200px;
            }
            .coppa-chiosco .team {
                display: flex;
                text-align: center;
                font-size: 25px;
                font-family: cursive;
                font-weight: bold;
                padding: 10px;
                margin: 10px 0;
                border: 5px solid #000;
                position: absolute;
                width: 100%;
                transition: top 2000ms;
                background: #FFF;
            }

            .coppa-chiosco .team.pos-1 {
                /*background-color: gold;*/
                background: linear-gradient(90deg, rgba(139,111,22,1) 0%, rgba(219,193,85,1) 25%, rgba(250,234,137,1) 50%, rgba(219,193,85,1) 75%, rgba(139,111,22,1) 100%);
                font-size: 60px;
                top: 0;
                z-index: 12;
            }

            .coppa-chiosco .team.pos-2 {
                /*background-color: silver;*/
                background: linear-gradient(90deg, rgba(107,107,105,1) 0%, rgba(171,169,164,1) 25%, rgba(222,221,215,1) 50%, rgba(171,169,164,1) 75%, rgba(107,107,105,1) 100%);
                font-size: 50px;
                top: 150px;
                z-index: 11;
            }

            .coppa-chiosco .team.pos-3 {
                /*background-color: #cd7f32;*/
                background: linear-gradient(90deg, rgba(134,83,32,1) 0%, rgba(205,127,50,1) 25%, rgba(254,174,95,1) 50%, rgba(205,127,50,1) 75%, rgba(134,83,32,1) 100%);
                font-size: 40px;
                top: 275px;
                z-index: 10;
            }

            .coppa-chiosco .team.pos-4 {
                top: 385px;
                z-index: 9;
            }
            .coppa-chiosco .team.pos-5 {
                top: 470px;
                z-index: 8;
            }
            .coppa-chiosco .team.pos-6 {
                top: 555px;
                z-index: 7;
            }
            .coppa-chiosco .team.pos-7 {
                top: 640px;
                z-index: 6;
            }
            .coppa-chiosco .team.pos-8 {
                top: 725px;
                z-index: 5;
            }
            .coppa-chiosco .team.pos-9 {
                top: 810px;
                z-index: 4;
            }
            .coppa-chiosco .team.pos-10 {
                top: 895px;
                z-index: 3;
            }

            .coppa-chiosco .team.pos-11 {
                top: 980px;
                z-index: 2;
            }
            .coppa-chiosco .team.pos-12 {
                top: 1065px;
                z-index: 1;
            }

            .coppa-chiosco .team .posizione {
                width: 10%
            }
            .coppa-chiosco .team .nome {
                width: 80%
            }
            .coppa-chiosco .team .qty {
                width: 10%
            }

            @media (max-width: 600px) {
                .coppa-chiosco .team.pos-1 {
                    font-size: 40px;
                }

                .coppa-chiosco .team.pos-2 {
                    font-size: 35px;
                }

                .coppa-chiosco .team.pos-3 {
                    font-size: 30px;
                }
                .posizione img {
                    width: 30px;
                    height: 30px;
                }
            }
            
        </style>
            
        <script>
            /*
            setTimeout(function(){
                window.location.reload()
            }, 1000)
            */
            setInterval(function(){
                $.ajax({
                    url: "/cc_classifica_script",
                    dataType : "html",
                    success: function(result){
                        $('.nuovaClassifica').remove()
                        $('body').append(result)
                        aggiornaClassifica()
                    }
                });
            }, 3000)
            

            function aggiornaClassifica(){
                //console.log(nuovaClassifica)
                for(var i=0;i<nuovaClassifica.length;i++){
                    var that = nuovaClassifica[i]
                    //console.log(that.punti)
                    $('#' + that.id).find('.qty').html(that.punti)
                }

                aggiornaPosizioni()
            }
            function aggiornaPosizioni(){
                for(var i=0;i<nuovaClassifica.length;i++){
                    var that = nuovaClassifica[i],
                        thatEl = $('#' + that.id)
                    //console.log(that.punti)
                    if(i != (parseInt(thatEl.attr('pos'))-1)){
                        var newPos = i+1
                        thatEl.removeClass('pos-' + thatEl.attr('pos'))
                        thatEl.find('.posizione').html(newPos + '°')
                        thatEl.addClass('pos-' + newPos)
                        thatEl.attr('pos', newPos)
                    }
                    
                }
            }
        </script>
    </body>
</html>