<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
    <head>
        <% include ../views/t_head.ejs %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    </head>
    <body>
        <div class="loading"></div>
        <h1>
            Partite Admin
        </h1>
        <hr/>

        <% 
            var cc = database[0].coppaChiosco
            var databaseID = database[0].id
            var squadre = database[0].squadreTorneo
            var partite = database[0].partiteTorneo
            cc.sort(function(a,b){
                return a.nome.localeCompare(b.nome);
            })
            
            
            for(var i = 0; i < partite.length; i++) {
                if(partite[i].finita == true){
                    for(var j=0; j<squadre.length; j++){
                        if(partite[i].squadra_casa == squadre[j]._id){
                            squadre[j].marcatori += (partite[i].marcatori_casa + '-')
                        }else if(partite[i].squadra_ospite == squadre[j]._id){
                            squadre[j].marcatori += (partite[i].marcatori_ospite + '-')
                        }
                    }
                }
            }
        %>
        <div class="screen60percent" id="main">
            <div>
                <h1>Partite</h1>
                <div>
                    <div class="">
                        <%
                            var quartiTitleAdded = false,
                                semifinaleTitleAdded = false,
                                terzopostoTitleAdded = false,
                                finaleTitleAdded = false
                                
                            for(var i = 0; i < partite.length; i++) {
                            
                        
                                for(var k=0; k<squadre.length; k++){
                                    if(partite[i].squadra_casa == squadre[k]._id){
                                        squadraCasa = squadre[k].nome
                                        puntiCasa = squadre[k].punti
                                    }else if(partite[i].squadra_ospite == squadre[k]._id){
                                        squadraOspite = squadre[k].nome
                                        puntiOspite = squadre[k].punti
                                    }else if(partite[i].squadra_casa == '-' || partite[i].squadra_ospite == '-'){
                                        squadraCasa = ''
                                        puntiCasa = 0
                                        squadraOspite = ''
                                        puntiOspite = 0
                                    }
                                }
                                
                                if(partite[i].finita == true){
                        %>
                                    <div class="partita_finita">
                                        <style>
                                            .partita_finita {
                                                padding: 5px;
                                                text-align: center;
                                                font-weight: bold;
                                                border: 2px solid #000;
                                                margin-bottom: 5px;
                                                display: flex;
                                                flex-wrap: wrap;
                                            }
                                            .partita_finita .risultato {
                                                width: 75%;
                                            }
                                            
                                            .partita_finita .edit {
                                                text-align: right;
                                                width: 25%;
                                            }
                                            
                                            .match_ended {
                                                display: none;
                                                padding: 10px;
                                                border: 2px solid red;
                                                margin: 0 20px 20px 20px;
                                            }
                                        </style>
                                        <div class="risultato">
                                        <%=squadraCasa%> <%=partite[i].gol_casa%> - <%=partite[i].gol_ospite%> <%=squadraOspite%>
                                        </div>
                                        <div class="edit">
                                            <button class="edit_match">Modifica</button>
                                        </div>
                                    </div>
                        <%
                                }
                        %>
                                
                                
                                <%
                                    if(!quartiTitleAdded && partite[i].girone == 18){
                                        quartiTitleAdded = true
                                %>
                                        <h2>Quarti</h2>
                                <%
                                    }else if(!semifinaleTitleAdded && partite[i].girone == 14){
                                        semifinaleTitleAdded = true
                                        %>
                                        <h2>Semifinale</h2>
                                <%
                                    }if(!terzopostoTitleAdded && partite[i].girone == 13){
                                        terzopostoTitleAdded = true
                                        %>
                                        <h2>Terzo/Quarto posto</h2>
                                <%
                                    }if(!finaleTitleAdded && partite[i].girone == 11){
                                        finaleTitleAdded = true
                                        %>
                                        <h2>Finale</h2>
                                <%
                                    }
                                %>
                                <div class="<%=partite[i].finita == true ? 'match_ended' : ''%>">
                                    <form class="async" ref='uploadForm' id='uploadForm' method='post'>
                                        <fieldset>
                                            <legend> <%=partite[i].giorno == '20' ? 'Ven.' : 'Sab.'%> <%=partite[i].ora%> | <%=squadraCasa%> - <%=squadraOspite%></legend>
                                            <div class="space">
                                                <label for="campoPartita">Stato</label>
                                                <div>
                                                    <input name="status" type="radio" value="toPlay" <%=partite[i].live == false && partite[i].finita == false ? 'checked' : ''%>/> Da Giocare
                                                </div>
                                                
                                                <div>
                                                    <input name="status" type="radio" value="completed" <%=partite[i]?.finita == true ? 'checked' : ''%>/> Finita
                                                </div>
                                            </div>
                                            
                                            <div class="space hide">
                                                <label for="giornoPartita">Giorno</label>
                                                <div>
                                                    <input name="giornoPartita" type="radio" value="20" <%=partite[i].giorno == 20 ? 'checked' : ''%>/> Venerdì 20
                                                </div>
                                                <div>
                                                    <input name="giornoPartita" type="radio" value="21" <%=partite[i].giorno == 21 ? 'checked' : ''%>/> Sabato 21
                                                </div>
                                            </div>
                                            
                                            <div class="space hide">
                                                <label for="oraPartita">Ora</label>
                                                <input type="text" value="<%=partite[i].ora%>" id="oraPartita" name="oraPartita"/>
                                            </div>
                                            
                                            
                                            <div class="space hide">
                                                <label for="campoPartita">Campo</label>
                                                <div>
                                                    <input name="campoPartita" type="radio" value="1" <%=partite[i].campo == 1 ? 'checked' : ''%>/> 1
                                                </div>
                                                <div>
                                                    <input name="campoPartita" type="radio" value="2" <%=partite[i].campo == 2 ? 'checked' : ''%>/> 2
                                                </div>
                                            </div>
                                            
                                            <div class="space hide">
                                                <label for="teamGirone">Girone</label>
                                                <select name="teamGirone" id="teamGirone">
                                                    <option value="1" <%=partite[i].girone == 1 ? 'selected' : ''%>>1</option>
                                                    <option value="2" <%=partite[i].girone == 2 ? 'selected' : ''%>>2</option>
                                                    <option value="3" <%=partite[i].girone == 3 ? 'selected' : ''%>>3</option>
                                                    <option value="4" <%=partite[i].girone == 4 ? 'selected' : ''%>>4</option>
                                                    <option value="18" <%=partite[i].girone == 18 ? 'selected' : ''%>>Quarti di finale</option>
                                                    <option value="14" <%=partite[i].girone == 14 ? 'selected' : ''%>>Semifinale</option>
                                                    <option value="13" <%=partite[i].girone == 13 ? 'selected' : ''%>>Finale 3°- 4° posto</option>
                                                    <option value="11" <%=partite[i].girone == 11 ? 'selected' : ''%>>Finale 1° - 2° posto</option>
                                                </select>
                                            </div>
                                            
                                            <div class="space">
                                                <fieldset>
                                                    <label for="gol_casa"><%=squadraCasa%></label>
                                                    <input type="hidden" name="squadra_casa" value="<%=partite[i].squadra_casa%>"/>
                                                    <div class="space">
                                                        <label>GOL:</label>
                                                        <input name="gol_casa" value="<%=partite[i].gol_casa%>" id="gol_casa"/>
                                                    </div>
                                                    <div class="space">
                                                        <label>MARCATORI:</label>
                                                        <input name="marcatori_casa" value="<%=partite[i].marcatori_casa%>" id="marcatori_casa"/>
                                                    </div>
                                                    <input name="punti_casa" value="<%=puntiCasa%>" id="punti_casa" type="hidden"/>
                                                    <input name="nome_casa" value="<%=squadraCasa%>" id="nome_casa" type="hidden"/>
                                                </fieldset>
                                            </div>
                                            
                                            <div class="space">
                                                <fieldset>
                                                    <label for="gol_ospite"><%=squadraOspite%></label>
                                                    <input type="hidden" name="squadra_ospite" value="<%=partite[i].squadra_ospite%>"/>
                                                    <div class="space">
                                                        <label>GOL:</label>
                                                        <input name="gol_ospite" value="<%=partite[i].gol_ospite%>" id="gol_ospite"/>
                                                    </div>
                                                    <div class="space">
                                                        <label>MARCATORI:</label>
                                                        <input name="marcatori_ospite" value="<%=partite[i].marcatori_ospite%>" id="marcatori_ospite"/>
                                                    </div>
                                                    <input name="punti_ospite" value="<%=puntiOspite%>" id="punti_ospite" type="hidden"/>
                                                    <input name="nome_ospite" value="<%=squadraOspite%>" id="nome_ospite" type="hidden"/>
                                                </fieldset>
                                            </div>
                                            
                                            
                                            
                                            <div class="submit">
                                                <input type="hidden" name="partita-id" value="<%=partite[i]._id%>"/>
                                                <input type="hidden" name="form-submitted" value="updateMatch"/>
                                                <input type="hidden" name="databaseID" value="<%=databaseID%>"/>
                                                <input type="submit" value="Invia!"/>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                        <%
                            }
                        %>
                    </div>
                </div>
                <div>
                    <h2 class="showHideButton">Aggiungi partita</h2>
                    <div class="hide">
                        <form class="async" ref='uploadForm' id='uploadForm' method='post'>
                            <div class="space">
                                <label for="giornoPartita">Giorno</label>
                                <div>
                                    <input name="giornoPartita" type="radio" value="20"/> Venerdì 20
                                </div>
                                <div>
                                    <input name="giornoPartita" type="radio" value="21"/> Sabato 21
                                </div>
                            </div>
                            
                            <div class="space">
                                <label for="oraPartita">Ora</label>
                                <input type="text" value="" id="oraPartita" name="oraPartita"/>
                            </div>
                            
                            
                            <div class="space">
                                <label for="campoPartita">Campo</label>
                                <div>
                                    <input name="campoPartita" type="radio" value="1"/> 1
                                </div>
                                <div>
                                    <input name="campoPartita" type="radio" value="2"/> 2
                                </div>
                            </div>
                            
                            <div class="space">
                                <label for="teamGirone">Girone</label>
                                <select name="teamGirone" id="teamGirone">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="18">Quarti di finale</option>
                                    <option value="14">Semifinale</option>
                                    <option value="13">Finale 3°- 4° posto</option>
                                    <option value="11">Finale 1° - 2° posto</option>
                                </select>
                            </div>
                            
                            <div class="space">
                                Squadra 1:
                                <select name="squadra_casa" id="squadra_casa">
                                    
                                    <%
                                        for(var j=0; j<squadre.length; j++){
                                    %>
                                    
                                    <option value="<%=squadre[j]._id%>"><%=squadre[j].nome%></option>
                                    <%
                                        }
                                    %>
                                </select>
                            </div>
                            <div class="space">
                                Squadra 2:
                                <select name="squadra_ospite" id="squadra_ospite">
                                    
                                    <%
                                        for(var j=0; j<squadre.length; j++){
                                    %>
                                    
                                    <option value="<%=squadre[j]._id%>"><%=squadre[j].nome%></option>
                                    <%
                                        }
                                    %>
                                </select>
                            </div>
                            
                            <div class="submit">
                                <input type="hidden" name="form-submitted" value="addMatch"/>
                                <input type="hidden" name="databaseID" value="<%=databaseID%>"/>
                                <input type="submit" value="Aggiungi!"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div>
                <h1>Marcatori</h1>
                <%
                    for(var i = 0; i < squadre.length; i++) {
                %>
                        <div>
                            <h4>
                                <%=squadre[i].nome%>
                            </h4>
                            <div>
                                <%=squadre[i].marcatori%>
                            </div>
                        </div>
                <%
                    }
                %>
            </div>
            <div>
                <h1>Squadre</h1>
                <div>
                    <h2 class="showHideButton">Aggiungi squadra</h2>
                    <div class="hide">
                        <form class="async" ref='uploadForm' id='uploadForm' method='post' >
                            <fieldset>
                                <legend>Nuova squadra</legend>
                                
                                <div class="space">
                                    <label for="teamName">Nome Squadra</label>
                                    <input name="teamName" value="" id="teamName"/>
                                </div>
                                
                                <div class="space">
                                    <label for="teamGirone">Girone</label>
                                    <select name="teamGirone" id="teamGirone">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="18">Quarti di finale</option>
                                        <option value="14">Semifinale</option>
                                        <option value="13">Finale 3°- 4° posto</option>
                                        <option value="11">Finale 1° - 2° posto</option>
                                    </select>
                                </div>
                                
                                
                                <div class="submit">
                                    <input type="hidden" name="punti" value="0"/>
                                    <input type="hidden" name="form-submitted" value="addTeamTourney"/>
                                    <input type="hidden" name="databaseID" value="<%=databaseID%>"/>
                                        <input type="submit" value="Aggiungi!"/>
                                </div>
                                
                            </fieldset>
                        </form>
                    </div>
                </div>
                
                <div>
                    <h2 class="showHideButton">Modifica squadre</h2>
                    <div class="hide">
                        <%
                            for(var i = 0; i < squadre.length; i++) {
                        %>
                        
                        <form class="async" ref='uploadForm' id='uploadForm' method='post'>
                            <fieldset>
                                <legend><%=squadre[i].nome%></legend>
                                <div class="space">
                                    <label for="teamName">Nome Squadra</label>
                                    <input name="teamName" value="<%=squadre[i].nome%>" id="teamName"/>
                                </div>
                                
                                <div class="space">
                                    <label for="teamGirone">Girone</label>
                                    <select name="teamGirone" id="teamGirone">
                                        <option value="1" <%=squadre[i].girone == 1 ? 'selected' : ''%>>1</option>
                                        <option value="2" <%=squadre[i].girone == 2 ? 'selected' : ''%>>2</option>
                                        <option value="3" <%=squadre[i].girone == 3 ? 'selected' : ''%>>3</option>
                                        <option value="4" <%=squadre[i].girone == 4 ? 'selected' : ''%>>4</option>
                                        <option value="18" <%=squadre[i].girone == 18 ? 'selected' : ''%>>Quarti di finale</option>
                                        <option value="14" <%=squadre[i].girone == 14 ? 'selected' : ''%>>Semifinale</option>
                                        <option value="13" <%=squadre[i].girone == 13 ? 'selected' : ''%>>Finale 3°- 4° posto</option>
                                        <option value="11" <%=squadre[i].girone == 11 ? 'selected' : ''%>>Finale 1° - 2° posto</option>
                                    </select>
                                </div>
                                    
                                <div class="space">
                                    <label for="teamPunti">Punti</label>
                                    <input type="text" name="teamPunti" value="<%=squadre[i].punti || 0%>"/>
                                </div>
                                
                                <div class="submit">
                                    <input type="hidden" name="squadra-id" value="<%=squadre[i]._id%>"/>
                                    <input type="hidden" name="form-submitted" value="updateTeamTourney"/>
                                    <input type="hidden" name="databaseID" value="<%=databaseID%>"/>
                                    <input type="submit" value="Modifica!"/>
                                </div>
                            </fieldset>
                        </form>
                        
                        <%
                            }
                        %>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>