<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    </head>
    <body>

        <% 
            var cc = database[0].coppaChiosco
            var databaseID = database[0].id
            var squadre = database[0].squadreTorneo
            var partite = database[0].partiteTorneo
            cc.sort(function(a,b){
                return a.nome.localeCompare(b.nome);
            })
            
            for(var i = 0; i < partite.length; i++) {
            
                if(partite[i].finita == true && (partite[i].girone == 1 || partite[i].girone == 2 || partite[i].girone == 3 || partite[i].girone == 4)){
                    // drawn
                    if(partite[i].gol_casa == partite[i].gol_ospite){
                        for(var j=0; j<squadre.length; j++){
                            if(partite[i].squadra_casa == squadre[j]._id){
                                squadre[j].punti += 1
                            }else if(partite[i].squadra_ospite == squadre[j]._id){
                                squadre[j].punti += 1
                            }
                        }
                    }
                    // win casa
                    else if(partite[i].gol_casa > partite[i].gol_ospite){
                        for(var j=0; j<squadre.length; j++){
                            if(partite[i].squadra_casa == squadre[j]._id){
                                squadre[j].punti += 3
                            }
                        }
                    }
                    // win ospite
                    else if(partite[i].gol_casa < partite[i].gol_ospite){
                        for(var j=0; j<squadre.length; j++){
                            if(partite[i].squadra_ospite == squadre[j]._id){
                                squadre[j].punti += 3
                            }
                        }
                    }
                }
            }
                
                
        %>
        <div class="">
            <div class="gironi">
                <%
                    for(var i=1; i<=4; i++){
                %>
                <div class="girone">
                    
                    <div class="girone-contenuto">
                        <div class="calendario">
                            <h2>Girone <%=i%></h2>
                            <%
                                for(var j=0; j<partite.length; j++){
                                    if(partite[j].girone == i){
                                        var squadraCasa = '',
                                            squadraOspite = ''
                                        for(var k=0; k<squadre.length; k++){
                                            if(partite[j].squadra_casa == squadre[k]._id){
                                                squadraCasa = squadre[k].nome
                                            }else if(partite[j].squadra_ospite == squadre[k]._id){
                                                squadraOspite = squadre[k].nome
                                            }
                                        }
                                        var day = partite[j].giorno == '20' ? 'ven.' : 'sab.'
                                        
                                        %>
                                            <div class="partite">
                                                <div class="partita">
                                                    <div class="orario">
                                                        <span class="campo"><%=day%></span> <%=partite[j].ora%> <span class="campo">(campo <%=partite[j].campo%>)</span>
                                                    </div>
                                                    <div class="squadre">
                                                        <%=squadraCasa%> - <%=squadraOspite%>
                                                    </div>
                                                    <div class="risultato">
                                                        <% if(partite[j].finita == true){ %>
                                                        <%=partite[j].gol_casa%> - <%=partite[j].gol_ospite%>
                                                        <%  }else { %>
                                                        &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
                                                        <%}%>
                                                    </div>
                                                </div>
                                            </div>
                                            <%
                                            }
                                        }
                                    %>
                        </div>
                        <div class="classifica dr">
                            <%
                                if(i == 1){
                            %>
                                <h3>
                                    Classifica
                                </h3>
                            <%
                            }
                            %>
                            <div class="squadra">
                                <div class="nome">
                                    
                                </div>
                                <div class="punti">
                                    Punti
                                </div>
                            </div>
                            <%
                                var n = 0,
                                    array = []
                                for(var j=0; j<squadre.length; j++){
                                    if(squadre[j].girone == i){
                                        array.push({
                                            nome: squadre[j].nome,
                                            punti: squadre[j].punti
                                        })
                                    }
                                }
                                
                                array.sort((a,b) => b.punti-a.punti);
                                
                                for(var j=0; j<array.length; j++){
                            %>
                                    <div class="squadra <%=n<2?'passato' : ''%>">
                                        <div class="nome">
                                            <%=array[j].nome%>
                                        </div>
                                        <div class="punti">
                                            <%=array[j].punti%>
                                        </div>
                                    </div>
                            <%
                                        n++
                                }
                            %>
                            
                        </div>
                    </div>
                </div>
                <% } %>
                
            </div>
        </div>
                
        <div class="faseFinale">
            <div class=" quarti">
                <h2>Quarti di Finale</h2>
                <%
                    for(var j=0; j<partite.length; j++){
                        if(partite[j].girone == 18){
                            var squadraCasa = '',
                                squadraOspite = ''
                            for(var k=0; k<squadre.length; k++){
                                if(partite[j].squadra_casa == squadre[k]._id){
                                    squadraCasa = squadre[k].nome
                                }else if(partite[j].squadra_ospite == squadre[k]._id){
                                    squadraOspite = squadre[k].nome
                                }
                            }
                            %>
                            
                            
                            <div class="partite">
                                <div class="partita">
                                    <div class="squadra" style="display: flex; justify-content: space-between;">
                                        <span><%=squadraCasa%></span><span><%=partite[j].gol_casa%></span>                            
                                    </div>
                                    <div class="squadra" style="display: flex; justify-content: space-between;">
                                        <span><%=squadraOspite%></span><span><%=partite[j].gol_ospite%></span>     
                                    </div>
                                    <div class="infoPartita">
                                        <%=partite[j].ora%> | campo <%=partite[j].campo%>
                                    </div>
                                </div>
                            </div>
                        <%
                        }
                    }
                %>
            </div>
            <div class=" semifinale">
                <h2>Semifinale</h2>
                
                <%
                    for(var j=0; j<partite.length; j++){
                        if(partite[j].girone == 14){
                            var squadraCasa = '',
                                squadraOspite = ''
                            for(var k=0; k<squadre.length; k++){
                                if(partite[j].squadra_casa == squadre[k]._id){
                                    squadraCasa = squadre[k].nome
                                }else if(partite[j].squadra_ospite == squadre[k]._id){
                                    squadraOspite = squadre[k].nome
                                }
                            }
                            %>
                
                                <div class="partite">
                                    <div class="partita">
                                        <div class="squadra" style="display: flex; justify-content: space-between;">
                                            <span><%=squadraCasa%></span><span><%=partite[j].gol_casa%></span>                          
                                        </div>
                                        <div class="squadra" style="display: flex; justify-content: space-between;">
                                            <span><%=squadraOspite%></span><span><%=partite[j].gol_ospite%></span>                               
                                        </div>
                                        <div class="infoPartita">
                                            <%=partite[j].ora%> | campo <%=partite[j].campo%>
                                        </div>
                                    </div>
                                </div>
                            <%
                        }
                    }
                %>
                
            </div>
            <div class=" finale">
                <h2>Finale</h2>
                
                <%
                    for(var j=0; j<partite.length; j++){
                        if(partite[j].girone == 11){
                            var squadraCasa = '',
                                squadraOspite = ''
                            for(var k=0; k<squadre.length; k++){
                                if(partite[j].squadra_casa == squadre[k]._id){
                                    squadraCasa = squadre[k].nome
                                }else if(partite[j].squadra_ospite == squadre[k]._id){
                                    squadraOspite = squadre[k].nome
                                }
                            }
                            %>
                                <div class="partite">
                                    <div class="partita">
                                        <div class="squadra" style="display: flex; justify-content: space-between; font-size: 30px;">
                                            <span><%=squadraCasa%></span><span><%=partite[j].gol_casa%></span>                            
                                        </div>
                                        <div class="squadra" style="display: flex; justify-content: space-between; font-size: 30px;">
                                            <span><%=squadraOspite%></span><span><%=partite[j].gol_ospite%></span>                            
                                        </div>
                                        <div class="infoPartita">
                                            <%=partite[j].ora%> | campo <%=partite[j].campo%>
                                        </div>
                                    </div>
                                </div>
                                <%
                        }
                    }
                %>
                
                <%
                    for(var j=0; j<partite.length; j++){
                        if(partite[j].girone == 13){
                            var squadraCasa = '',
                                squadraOspite = ''
                            for(var k=0; k<squadre.length; k++){
                                if(partite[j].squadra_casa == squadre[k]._id){
                                    squadraCasa = squadre[k].nome
                                }else if(partite[j].squadra_ospite == squadre[k]._id){
                                    squadraOspite = squadre[k].nome
                                }
                            }
                            %>
                <div class="partite">
                    <h4>Terzo / Quarto Posto</h4>
                    <div class="partita">
                        <div class="squadra" style="display: flex; justify-content: space-between;">
                            <span><%=squadraCasa%></span><span><%=partite[j].gol_casa%></span>                            
                        </div>
                        <div class="squadra" style="display: flex; justify-content: space-between;">
                            <span><%=squadraOspite%></span><span><%=partite[j].gol_ospite%></span>                            
                        </div>
                        <div class="infoPartita">
                            <%=partite[j].ora%> | campo <%=partite[j].campo%>
                        </div>
                    </div>
                </div>
                <%
                        }
                    }
                %>
            </div>
        </div>
                
        
        <style>
            
            .dr .squadra {
                justify-content: flex-end;
            }
            .dr .diffReti,
            .dr .punti {
                width: 100px;
            }
            
            .dr .nome {
                width: 100%;
                text-align: left;
            }
            .passato {
                background: #abf9ab;
                padding-left: 10px !important;
                padding-right: 10px !important;
            }
            
            body {
                padding-top: 20px;
                padding: left: 20px;
            }
            .gironi .girone h2 {
                font-size: 16px !important;
                margin: 0;
                padding-bottom: 10px;
            }
            .gironi .girone .giorno {
                padding-right: 20px;
                padding-top: 15px;
            }

            .gironi .girone {
                width: 100%;
                padding-left: 30px
            }
            
            .girone .partite {
                font-size: 24px !important;
                font-weight: bold;
            }

            .gironi .girone .girone-contenuto {
                border-bottom: 2px solid #167D39;
                padding-top: 0 !important;
                padding: 10px;
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
            }

            .classifica {
                width: 30%;
                text-align: center;
                margin: 0 auto;
                align-self: center;
                font-size: 24px !important;
                font-weight: bold;
            }
            
            .classifica h3 {
                margin: 0px; 
            }

            .classifica .squadra {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 10px;
            }
            .calendario .partita {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-bottom: 4px;
                border-bottom: 1px solid #167D39;
                margin-bottom: 5px;
            }
            
            .calendario .partita:last-of-type {
                border: 0;
            }

            .classifica .squadra:not(:first-of-type) {
                border-top: 2px solid #167D39;
            }
            
            .calendario {
                width: 50%;
            }


            .calendario .campo {
                font-size: 20px;
                font-weight: bold;
            }
            h2 {
                font-size: 30px !important;
            }
            h3 {
                font-size: 20px !important;
            }

            h4 {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            
            .faseFinale {
                padding-top: 200px;
                display: flex;
                flex-direction: row;
                min-height: 500px;
            }

            .faseFinale h2 {
                text-align: center;
            }

            .faseFinale > div {
                width: 33.3%;
            }
            .faseFinale .squadra {
                padding-bottom: 20px;
                font-size: 20px;
                min-height: 20px;
            }

            .faseFinale .partite {
                padding-bottom: 25px;
            }
            .faseFinale .partita .infoPartita {
                text-align: center;
                font-size: 12px;
            }
            .faseFinale .squadra {
                border: 1px solid #167D39;
                padding: 5px 10px;
                width: 50%;
                margin: 10px auto;
                text-align: center;
            }

            .faseFinale .semifinale .partita {
                padding-top: 70px;
                padding-bottom: 80px;
            }

            .faseFinale .finale .partite:first-of-type {
                padding-top: 210px;
                padding-bottom: 50px;
            }

            .faseFinale .finale h4 {
                text-align: center;
            }

        </style>
        
        <script>
            setTimeout(function(){
                //window.location.reload()
            }, 5000)
        </script>
    </body>
</html>