<% 
    var giocatori = {
            portieri: [
                {
                    nome: 'Emanuele',
                    cognome: 'Pischiutta',
                    presenze: 0,
                    gol: 0
                },
                {
                    nome: 'Alessio',
                    cognome: 'Peressini',
                    presenze: 0,
                    gol: 0
                }
            ],
            difensori: [
                {
                    nome: 'Nicola',
                    cognome: 'Buttazzoni',
                    presenze: 0,
                    gol: 0
                },
                {
                    nome: 'Stefano',
                    cognome: 'Buttazzoni',
                    presenze: 0,
                    gol: 0
                },
                {
                    nome: 'Nicola',
                    cognome: 'Ganzini',
                    presenze: 0,
                    gol: 0
                },
                {
                    nome: 'Lorenzo',
                    cognome: 'Violino',
                    presenze: 0,
                    gol: 0
                },
                {
                    nome: 'Marco',
                    cognome: 'Prenassi',
                    presenze: 0,
                    gol: 0
                },
                {
                    nome: 'Andrea',
                    cognome: 'Romanelli',
                    presenze: 0,
                    gol: 0
                },
                {
                    nome: 'Luca',
                    cognome: 'Andreina',
                    presenze: 0,
                    gol: 0
                },
                {
                    nome: 'Luca',
                    cognome: 'Polli',
                    presenze: 0,
                    gol: 0
                }
            ],
            centrocampisti: [
                {
                    nome: 'Giuliano',
                    cognome: 'Presacco',
                    presenze: 0,
                    gol: 0
                },
                {
                    nome: 'Nicolas',
                    cognome: 'Pressacco',
                    presenze: 0,
                    gol: 0
                },
                {
                    nome: 'Alessandro',
                    cognome: 'Ariis',
                    presenze: 0,
                    gol: 0
                },
                {
                    nome: 'Matteo',
                    cognome: 'Leschiutta',
                    presenze: 0,
                    gol: 0
                },
                {
                    nome: 'Ricardo',
                    cognome: 'Quarino',
                    presenze: 0,
                    gol: 0
                },
                {
                    nome: 'Luca',
                    cognome: 'Costantini',
                    presenze: 0,
                    gol: 0
                },
                {
                    nome: 'Herman',
                    cognome: 'Bance',
                    presenze: 0,
                    gol: 0
                },
                {
                    nome: 'Kevin',
                    cognome: 'Leita',
                    presenze: 0,
                    gol: 0
                },
                {
                    nome: 'Giacomo',
                    cognome: 'Peressini',
                    presenze: 0,
                    gol: 0
                }
            ],
            attaccanti: [
                {
                    nome: 'Stefano',
                    cognome: 'Cimolino',
                    presenze: 0,
                    gol: 0
                },
                {
                    nome: 'Christian',
                    cognome: 'Mazza',
                    presenze: 0,
                    gol: 0
                },
                {
                    nome: 'Nicola',
                    cognome: 'Quas',
                    presenze: 0,
                    gol: 0
                },
                {
                    nome: 'Federico',
                    cognome: 'Quarino',
                    presenze: 0,
                    gol: 0
                },
                {
                    nome: 'Francesco',
                    cognome: 'Ascone',
                    presenze: 0,
                    gol: 0
                }
            ]
        }
    
%>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
    <head>
        <%- include('../views/t_head.ejs') %>
    </head>
    <body>
        <%- include('../views/t_header.ejs') %>

        <h1>
            Rosa
        </h1>
        
        <style>
            .slides > div {
                width: 60%;
            }

            .slides:nth-child(odd) > div:not(:last-of-type) {
                border-right: 3px solid #167D39;
                border-radius: 0;
            }

            .slides:nth-child(even) > div:not(:last-of-type) {
                border-right: 3px solid #FFF;
                border-radius: 0;
            }
            .gioc_info {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .gioc_info .foto img {
                height: 500px;
            }

            .slides .gioc_info .info {
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 50px;
                font-weight: bold;
                padding-left: 50px;
            }

            .slides:nth-child(odd),
            h2.ruoli:nth-child(even){
                background: #FFF;
                color: #167D39;
            }

            .slides:nth-child(even),
            h2.ruoli:nth-child(odd){
                background: #167D39;
                color: #FFF;
            }

            h2.ruoli {
                font-size: 30px;
                margin: 0;
                padding: 0.83em;
            }
        </style>
        <div>
            <hr/><span></span>
        <%
        
            for (var key in giocatori) {
                var obj = giocatori[key];
        %>
            <span></span>
            <h2 class="ruoli">
                <%=key%>
            </h2>
            <div class="slides">
            <%
                for (var prop in obj) {
            %>  
                <div class="slide">
                    <div class="giocatore">
                        <div class="gioc_info">
                            <div class="foto">
                                <img src="<%=obj[prop].foto ? obj[prop].foto : '/images/foto_giocatore_mancante.png' %>" src="giocatore"/>
                            </div>
                            <div class="info">
                                <div class="nome">
                                    <%=obj[prop].nome%> <br/> <%=obj[prop].cognome %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <%
                }
            %>
            </div>
        <%
            }
        %>

        </div>
            
        <%- include('../views/t_footer.ejs') %>
    </body>
</html>